body {
    height: 100vh;
    background-color: lightslategray;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* header css */

.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    padding: 12px;
}

.header img {
    width: 72px;
    height: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin-left: auto;
}

.header li {
    margin: 8px;
    padding: 4px;
}

.header #last-item {
    background-color: green;
}

/* footer css */

.footer {
    background-color: darkgray;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.footer #company-name {
    margin-right: auto;
}

.footer #designer-ref {
}

/* main content section */

.content {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.introduction {
    display: flex;
    margin: auto;
    padding: 64px;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.intro {
    width: 300px;
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 12px;
}

.intro button {
    border: none;
    border-radius: 4px;
    align-self: center;
    padding: 4px;
}

.introduction img {
    width: 300px;
    height: auto;
}

/* info section */

.information {
    background-color: white;
    padding: 32px;
    text-align: center;
}

.information .info-section {
    display: flex;
    flex-flow: row wrap;
}

.info-section .item {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 300px;
}

.testimonials {
    display: flex;
    flex-flow: row wrap;
}

.testimonials .item {
    width: 500px;
}

/* shop redirect with categories etc */

.services {
    display: flex;
}

.services div {
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 12px;
    flex: auto;
}

.account {
    background: linear-gradient(0deg, rgba(128, 128, 128, 0.3), rgba(128, 128, 128, 0.3)), url("images/start-from-bottom.jpg");
}

.shop {
    background-image: url("images/shop.jpg");
}

.app {
    background-image: url("images/dumbbell-curl.jpeg");
}
