body {
    height: 100vh;
    color: #DDEDF4;
    background-color: #212221;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #DDEDF4;
}

button {
    background-color: #44449B;
    color: #DDEDF4;
    border: none;
    border-radius: 4px;
    padding: 8px;
    align-self: center;
}

/* header css */

.header {
    color: #DDEDF4;
    background-color: #212221;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;
}

.header .logo {
    font-size: 24px;
    display: flex;
    gap: 8px;
}

.logo img {
    width: 72px;
    height: auto;
}

.header ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
    margin-left: auto;
}

.header li {
    display: flex;
    align-items: center;
    margin: 8px;
    padding: 4px;
}

/* footer css */

.footer {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 12px;
}

.footer #company-name {
    margin-right: auto;
}

/* main content section */

.content {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.intro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 36px;
}

.intro .card {
    width: 500px;
    padding: 12px;
    border: 2px solid #212221;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.intro .card h2 {
    font-size: 48px;
    font-weight: 900;
}

.introduction img {
    flex: 0 0 auto;
}

/* info section */

.information {
    color: #212221;
    background-color: #DDEDF4;
    padding: 72px;
    gap: 36px;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 900px;
}

.information .info-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.info-section .item {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.item img {
    width: 300px;
    border: 4px solid #1181B2;
    border-radius: 4px;
}

/* testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
}

.testimonials h2 {
    font-size: 36px;
    font-weight: 900;
    align-self: center;
}

.testimonials .testimonial-items {
    font-size: 24px;
    font-weight: 200;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 72px;
    gap: 72px;
}


.testimonials .item {
    width: 500px;
}

.testimonials .item h2 {
    font-size: 24px;
}

.item footer {
    text-align: right;
}

/* shop redirect with categories etc */

.services {
    display: flex;
    color: #212221;
}

.services div {
    height: 500px;
    width: auto;
    min-width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 36px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.account {
    background: linear-gradient(0deg, #1181B2B3, #1181B2B3), url("images/start-from-bottom.jpg");
    color: #DDEDF4;
}

.shop {
    background: linear-gradient(0deg, #DDEDF4B3, #DDEDF4B3), url("images/shop.jpg");
    color: #212221;
}

.app {
    background: linear-gradient(0deg, #44449BB3, #44449BB3), url("images/dumbbell-curl.jpeg");
    color: #DDEDF4;
}

.account h2,
.shop h2,
.app h2 {
    font-size: 36px;
    font-weight: 900;
}
