body {
    background-color: lightslategray;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 12px;
}

.header.logo {
    
}